{% extends 'base_layout.html' %}

{% block content %}
<section id="hero2">

  <div class="row hero-content">

      <div class="twelve columns hero-container">

         <!-- hero-slider start-->
         <div id="hero-slider">

             <ul class="slides">

                 <!-- slide -->
                 <li>
                     <div class="flex-caption">
                      <h1 class="">Know about<span id="binhajj">Green Arch</span> and give us a visit.
                      </h1>
                      </div>
                 </li>

                 <!-- slide -->
             </ul>
         </div> <!-- end hero-slider -->

    </div> <!-- end twelve columns-->

  </div> <!-- end row -->


  <div class="row">
          <p class="aboutnote"> Green Arch associates and multi-links is a fully registered and licenced architectural and construction firm established by Architect Hanif Musa Aliyu
          in 2019.The company is based in No. A15 Abdullahi Plaza, along Katsina Dutsin-Ma Road Katsina State, Nigeria.
          We are fully commited to all our clients and whenever beauty and durability are needed we are always there for you.<br><br><br>
          Some of our major staffs includes: <br>
          The director of the company which is the CEO. <br>
          Defuty director. <br>
          Secretary. <br>
          P.A to the director and others.<br>

          
        </p>
      </div>

</div> <!-- end row -->

</section>  <!-- end contact -->
{% endblock %}