{% extends 'base_layout.html' %}

{% block content %}
   <!-- homepage hero
   ================================================== -->
   <section id="hero">

		<div class="row hero-content">

			<div class="twelve columns hero-container">

			   <!-- hero-slider start-->
			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">

					   <!-- slide -->
					   <li>
						   <div class="flex-caption">
							<h1 class="">Say hello to <span id="binhajj">Green Arch</span>. We DESING awesome and stunning 
								STRUCTURES.
							</h1>

								<<h3 class="">Explore the website builder that empowers you to stand out online - whether you need a portfolio, online store, business website or multilingual site.</h3>
							</div>
					   </li>

					   <!-- slide -->
					   <li>
							<div class="flex-caption">
								<h1 class="">We are a Construction firm dedicated to build great Structures</h1>

								<h3 class="">The world of construction is filled with us. GreenArch</h3>
							</div>
					   </li>

					   <!-- slide -->
					   <li>
						   <div class="flex-caption">
								<h1 class="">Take a look at some of  <a class="smoothscroll" href="#portfolio" title="portfolio" >our works</a> or
								<a class="smoothscroll" href="#contact" title="contact us">get in touch</a> to discuss how we can help you.</h1>

								<h3 class="">Our works are one of the best where ever they are, designing is our pleasure.</h3>
							</div>
					   </li>

				   </ul>

			   </div> <!-- end hero-slider -->

	      </div> <!-- end twelve columns-->

		</div> <!-- end row -->

		<div id="more">
		      <a class="smoothscroll" href="#services">More About Us<i class="fa fa-angle-down"></i></a>
		</div>

   </section> <!-- end homepage hero -->


   <!-- portfolio
   ================================================== -->
   <section id="portfolio">

      <div class="row section-head">

      	<div class="twelve columns">

      		<h1>Our Latest Projects<span>.</span></h1>

	         <hr />

	         <p>Our latest project is a design of Katsina Pediatric hospital which is a Modern Square with a capacity to contain a
				diffrerent patients and other related facilities, P.O.P.D and many more. 
				The restaurant in the hospital will accommodate provisions for all visitors needs, the pediatric rooms are well
				designed for the comport of both patients and visitors.
	         </p>

	      </div>

      </div> <!-- end section-head -->


      <div class="row items">

         <!-- portfolio-wrapper -->
         <div id="portfolio-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half">

            <div class="bgrid folio-item">
               <div class="item-wrap">
                  <a href="#modal-01">
	                  <img src="/static/images/portfolio/green.png" alt="Underwater">
                     <div class="overlay"></div>
                     <div class="portfolio-item-meta">
     					      <h5>Architectural Design</h5>
                        <p>3D software</p>
     					   </div>
                     <div class="link-icon"><i class="fa fa-plus"></i></div>
                  </a>
               </div>
        		</div> <!-- item end -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                  <a href="#modal-02">
                     <img src="/static/images/portfolio/multiduplex.png" alt="Beetle">
                     <div class="overlay">
                      <div class="portfolio-item-meta">
          					   <h5>3 Storey Building</h5>
                           <p>Architecture</p>
          					</div>
                     </div>
                     <div class="link-icon"><i class="fa fa-plus"></i></div>
                  </a>
               </div>
         	</div> <!-- item end -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                  <a href="#modal-03">
                     <img src="/static/images/portfolio/pop.jpg" alt="Beetle">
                     <div class="overlay">
                      <div class="portfolio-item-meta">
          					   <h5>POP style</h5>
                           <p>Painting</p>
          					</div>
                     </div>
                     <div class="link-icon"><i class="fa fa-plus"></i></div>
                  </a>
               </div>
         	</div> <!-- item end -->
			 <div class="bgrid folio-item">
				<div class="item-wrap">
				   <a href="#modal-08">
					  <img src="/static/images/portfolio/interior2.jpg" alt="Judah">
					  <div class="overlay">
						   <div class="portfolio-item-meta">
								   <h5>POP and Paint</h5>
							<p>Construction</p>
								</div>
					  </div>
					  <div class="link-icon"><i class="fa fa-plus"></i></div>
				   </a>
				</div>
				</div>  <!-- item end -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                  <a href="#modal-04">
                     <img src="/static/images/portfolio/popinstairs.jpg" alt="Banjo Player">
                     <div class="overlay">
                      <div class="portfolio-item-meta">
          					   <h5>Contemporary Design</h5>
                           <p>Architecture</p>
          					</div>
                     </div>
                     <div class="link-icon"><i class="fa fa-plus"></i></div>
                  </a>
               </div>
         	</div> <!-- item end -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                  <a href="#modal-05">
                   <img src="/static/images/portfolio/selfcontent.jpg" alt="Lighthouse">
                     <div class="overlay">
                      <div class="portfolio-item-meta">
          					   <h5>Duplex</h5>
                           <p>Architecture</p>
          					</div>
                     </div>
                     <div class="link-icon"><i class="fa fa-plus"></i></div>
                  </a>
               </div>
         	</div> <!-- item end -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                  <a href="#modal-06">
                     <img src="/static/images/portfolio/storey.png" alt="Girl Stuff">
                     <div class="overlay">
                      <div class="portfolio-item-meta">
          					   <h5>Interior Design</h5>
                           <p>Architecture</p>
          					</div>
                     </div>
                     <div class="link-icon"><i class="fa fa-plus"></i></div>
                  </a>
               </div>
         	</div> <!-- item end -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                  <a href="#modal-07">
                     <img src="/static/images/portfolio/interior1.jpg" alt="Coffee Cup">
                     <div class="overlay">
                      <div class="portfolio-item-meta">
          					   <h5>Interior Wallpaper</h5>
                           <p>Interior Design</p>
          					</div>
                     </div>
                     <div class="link-icon"><i class="fa fa-plus"></i></div>
                  </a>
               </div>
         	</div> <!-- item end -->

         </div> <!-- end portfolio-wrapper -->


         <!-- modal popup
	   	========================================================= -->
         <div id="modal-01" class="popup-modal mfp-hide">

		      <div class="media">
	      		<img src="/static/images/portfolio/modals/green.png" alt="Underwater" />
	      	</div>

		      <div class="description-box">
			      <h4>Architectural Design</h4>
			      <p>simple contemporary modern design</p>
               <span class="categories">3D software</span>
		      </div>

            <div class="link-box group">
            	<a href="#" class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 end -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <div class="media">
	      		<img src="/static/images/portfolio/modals/multiduplex.png" alt="Hotel Sign" />
	      	</div>

		      <div class="description-box">
			      <h4>3 Storey Building</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories">Architecure</span>
		      </div>

            <div class="link-box">
           
		         <a href="#" class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 end -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <div class="media">
	      		<img src="/static/images/portfolio/modals/pop.jpg" alt="" />
	      	</div>

		      <div class="description-box">
			      <h4>POP style</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories">Painting</span>
		      </div>

            <div class="link-box">
		         <a href="#" class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 end -->

			<div id="modal-04" class="popup-modal mfp-hide">

		      <div class="media">
	      		<img src="/static/images/portfolio/modals/popinstairs.jpg" alt="" />
	      	</div>

		      <div class="description-box">
			      <h4>POP With Paint</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories">Construction</span>
		      </div>

            <div class="link-box">
		         <a href="#" class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 end -->

	      <div id="modal-05" class="popup-modal slider mfp-hide">

	      	<div class="media">
	      		<img src="/static/images/portfolio/modals/selfcontent.jpg" alt="" />
	      	</div>

		      <div class="description-box">
			      <h4>Contemporary Design</h4>

			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

			      <div class="categories">Architecure</div>

		      </div>

            <div class="link-box">
		         <a href="#" class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-05 end -->

	      <div id="modal-06" class="popup-modal mfp-hide">

		      <div class="media">
	      		<img src="/static/images/portfolio/modals/storey.png" alt="" />
	      	</div>

		      <div class="description-box">
			      <h4>Duplex</h4>

			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

			      <div class="categories">Architecture</div>

		      </div>

            <div class="link-box">
		         <a href="#" class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-06 end -->

	      <div id="modal-07" class="popup-modal mfp-hide">

		      <div class="media">
	      		<img src="/static/images/portfolio/modals/interior1.jpg" alt="" />
	      	</div>

		      <div class="description-box">
			      <h4>Interior Design</h4>

			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

			      <div class="categories">Architecture</div>

		      </div>

            <div class="link-box">
		         <a href="#" class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-07 end -->

	      <div id="modal-08" class="popup-modal mfp-hide">

		      <div class="media">
	      		<img src="/static/images/portfolio/modals/interior2.jpg"  alt="" />
	      	</div>

		      <div class="description-box">
			      <h4>Interior Wallpaper</h4>

			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

			      <div class="categories">Interior Design</div>

		      </div>

            <div class="link-box">
		         <a href="#" class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-08 end -->

      </div>  <!-- end row -->

   </section> <!-- end portfolio -->

   <!-- Services Section
   ================================================== -->
   <section id="services">

   	<div class="row section-head">

      	<div class="twelve columns">

      		<h1>Our Awesome Services<span>.</span></h1>

	         <hr />

	         <p>A construction company that provides work performed expertly by an individual or team for the 
				benefit of our clients. We provide our clients with such as a typical services  such as Architectural Designs, 
				Project Consultant, Sales of real Estate, Interior Designs, Planning and Scheduling and many more.
	         </p>

	      </div>

      </div> <!-- end section-head -->

      <div class="row mobile-no-padding">

	      <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">

	      	<div class="bgrid">

	            <h3>Architectural Designs</h3>

	            <div class="service-content">	                  
		            <p>Our design team constitute of well trained and skilful professionals who create master pieces of design, not
						neglecting the functionality. Effective space flow and aesthetic integrity. We pay attention to every
						straights and curves, ensuring that our buildings always last in to time and seasons and still maintaining its functional
						effectiveness. Aesthetic
	         		</p> 
	         	</div>

				</div> <!-- end bgrid -->

				<div class="bgrid">

					<h3>Interiors Decoration</h3>                  

					<div class="service-content">	                  
						<p>Comfort and luxury are the major factors we consider in our interior spaces. Wich with th efficient
							blend of top notch quality finishes from anywhere in the world. We give life to any of our interior
							spaces
						 </p> 
	            </div>

			   </div> <!-- end bgrid -->

			   <div class="bgrid">

	            <h3>Construction Work and Supervision</h3>

	            <div class="service-content">		                  
		            <p>We are equipped with manpower and machinery to carryout any level of
						contruction. Our construction materials are carefully selected to ensure
						structural itegrity.
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

				<div class="bgrid">

	             <h3>Blocks and Interlocks</h3> 

	            <div class="service-content">	                  
		            <p>We have available blocks and interlocks of any kind with strength and durability, we make costom
						interlocks to certify your needs and when it comes to certifying customer that is another factor
						we focused on.
					</p>
	            </div>

				</div> <!-- end bgrid -->

			   <div class="bgrid">

	            <h3>Building Materials</h3>

	            <div class="service-content">
		            <p>In construction, selecting good and best building materials is the first step when it comes to construction
						and we have aduquate building materials and we sell for any purpose.
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

			   <div class="bgrid">

	            <h3>Painting</h3>

	            <div class="service-content">
		            <p>We created the best paint for brick and masonry surfaces. Yes, we are biased, but there are reasons our masonry
						 paint outperforms anything else in the market.
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

	      </div> <!-- end service-list -->

      </div> <!-- end row -->

   </section> <!-- end services -->


   <!-- About Section
   ================================================== -->
   <section id="about">

   	<div class="row section-head">

      	<div class="twelve columns">

			<h1>Who Are We<span>.</span></h1>

			<hr />     	    

			<p>We are multi-disciplinary practice, specialising in architecture, engineering surveying 
				and town planners. Our team includes Architects, town planners, surveyors, energy accessors and designers.
				We also work on post completion services. We use latest technology for our services
				including the 3D printing, Modelling drone surveys and infrared scanning.

			</p>

	      </div> <!-- end section-head -->

      </div>

      <div class="row mobile-no-padding">

      	<div class="process bgrid-half tab-bgrid-whole group">

      		<div class="bgrid">

				<h3>Our Process.</h3>	

				<p>We commit to understanding what you actually need, make your design ready in due time, we make follow and make it approved, supervision 
					of site throughout the contruction and after all make it ready.
				</p>

		   	</div>

      		<div class="bgrid">

				<h3>Our Approach.</h3>

				<p>Listen, understand, design, supervise, execute and follow up. At the end of the day 
					you want to get exactly what tou paid for. And what you want to enjoy it that's why we commit
					to speaking to you in  clear and non-geek language. We tell you axactly what you will get
					and how much it will cost. No confusion no disappointment.
			   	</p>

		      </div>
      	</div> <!-- end process -->

     	</div> <!-- end row -->
     
		 
{% endblock %}

